* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  padding: 2.875em 0;
  background-color: #5f29a3;
}
h1 {
  color: whitesmoke;
  font-size: 1.5rem;
}
.subheading {
  font-size: 1.25rem;
  display: block;
  color: #d0aaff;
}
h2 {
  color: #451c7a;
  font-size: 1.25rem;
  padding-top: 2em;
}
h3 {
  font-size: 1.25rem;
  padding-top: 1.25em;
}
a {
  text-decoration: underline dotted;
  color: #ef5839;
}
a:hover,
a:active {
  color: #d4b44c;
}
p {
  padding-top: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
}
.main-image {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 650px;
}
.btn {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 500;
  display:block;
  text-align:center;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  border-radius: 4.5px;
}
.btn-dark {
  color: whitesmoke;
  background-color: #5f29a3;
}
.btn-mode {
  color: #5f29a3;
  background: #f0e0ff;
}
.btn:active,
.btn:hover {
  color: #2b238a;
  background-color: #f3e885;
}
.container-2 {
  background: #5f29a3;
  color: whitesmoke;
}
.container-2 h2 {
  color: whitesmoke;
  margin-bottom: 1rem;
}

.feature-image {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4.6px;
}
footer {
  text-align: center;
  color: #5f29a3;
  padding: 1.5rem;
}
.para {
  margin-bottom: 1rem;
  display: inline-block;
  padding-top: 0em;
}
 ul {
   list-style:none;
}
nav a {
  text-decration:none;
  color:#ffffff;
  font-size:1.25rem;
  display:block;
  padding: 1em 0 ;
}

@media (min-width: 480px) {
  .images-group {
    display: flex;
    justify-content: space-between;
  }
  .feature-image {
    width: 48.8%;
  }
}
@media (min-width:768px){
  .btn{
       display:inline-block;
       margin-right: 0.5em;
  }
  h1{
   font-size:2.25rem;
  }
  h2{
     font-size:1.75rem;
  }
  header .container {
    display:flex;
    justify-content:space-between;
  }
  nav ul {
    display:flex;
    justify-content:flex-end;
  }
}
@media (max-width: 768px) {
  li:not(:last-child) {
    border-bottom: 1px dotted whitesmoke;
  }
  header .container {
    text-align: center;
  }
}
